* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 2rem;
  }

  h2 {
    color: gray;
    border-bottom: black;
  }
  
  input {
    width: 60px;
    height: 30px;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px;
  }
  
  li, img {
    max-width: 500px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }
  
