* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 2rem;
  }

  h2 {
    color: gray;
    border-bottom: black;
  }
  
  input {
    width: 60px;
    height: 30px;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px;
  }
  
  li, img {
    max-width: 500px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }
  
.accordion__button {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  background: #333333;
  color: #ffffff;
  transition: background 0.2s;
}

.accordion__button::after {
  content: '\25be';
  float: right;
  transform: scale (1.5); /* make sit 50% bigger than its normal size*/ 
}

.accordion__button--active {background: #555555;}
.accordion__button--active::after {content: '\25b4'}