/*GENERAL*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Color Palette */
:root {
  --primary-color: #004aad;
  --secondary-color: #f8f8f8;
  --hover-color: #0048cd;
  --border-color: #ced4da;
  --dark-gray: #333333;
  --ligher-dark-gray: #444444;
}

/*   
  color: #004aad;
  border-bottom: 1px solid #004aad; active*/

body {
  padding-right: 10px;
  padding-top: 10px;
  padding-left: 10px;
  border-bottom-width: 10px;
  font-family: "Heebo", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}

/*HEADER AND SUBNAVIGATION*/
header {
  background-color: white;
  padding-right: 10px;
  padding-top: 10px;
  padding-left: 10px;
  border-bottom-width: 10px;
}
h1 {
  font-family: "Public Sans", sans-serif;
  margin: 0 0 15px 0;
  color: var(--primary-color);
}

form {
  display: flex;
  padding-top: 15px;
  padding-bottom: 10px;
}
.error-message {
  color: red;
}

.hidden {
  display: none;
}
#searchDuey {
  width: 100%;
  height: 2rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem 0 0 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0 10px;
}
.btn {
  border-radius: 0.25rem;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: white;
  cursor: pointer;
  height: 2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 5px;
}

#searchBtn {
  width: 10%;
  border-radius: 0 0.25rem 0.25rem 0;
  max-width: 55px;
}
button:hover {
  background-color: #005dd7;
  border-color: #005dd7;
}

button:active {
  transform: perspective(600px) rotateX(15deg) scale(0.9);
}

.fas {
  padding: 2px;
}

/* Style the tab */
.tab {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #ced4da;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  color: black;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Heebo", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #005dd7;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
#Books {
  display: block;
}
.contentBlockOuter {
  width: 100%;
  padding: 15px;
  margin: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

h3 {
  padding-bottom: 10px;
  color: var(--primary-color);
}
.contentBlock {
  background-color: white;
  display: flex;
  align-items: stretch;
  width: 100%;
}
.videoWrap {
  flex-wrap: wrap;
}
.contentBlock iframe {
  min-width: 300px;
  flex: 1;
  min-height: 300px;
}

.contentBlockImages {
  /*flex: 1;
  flex-grow: 1;*/
}

.viewerCanvas {
  width: 600px;
  height: 500px;
}

.contentBlockDetails {
  flex: 1;
  min-width: 300px;
  max-width: 100%;
  margin: 10px;
}

img {
  flex: 1;
  flex-grow: 1;
  padding-right: 10px;
  border-radius: 0.25rem;
  width: 100%;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 5px;
}

.published {
  font-size: 14px;
  color: gray;
}

.previewIcon {
  color: white;
  border-color: 2px solid var(--primary-color);
}
.fas {
  padding-right: 5px;
}

.limitWidth {
  max-width: 125px;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

/* Neutralizing Link - botton code manages UI */

a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

@media only screen and (max-width: 600px) {
  li.description {
    max-width: 235px;
  }

  .contentBlock {
    display: flex;
    flex-direction: column;
  }

  .contentBlock iframe {
    min-height: 145px;
    min-width: 230px;
  }

  .contentBlockDetails {
    margin-left: 0px;
  }
}
